<h2>%t <small>%s</small></h2>

<p>&mdash;%a</p>
<div>
  <a href="https://mastodon.technology/@hartmann">
    @hartmann@mastodon.technology
  </a>
</div>
<div>
  <a href="https://thomashartmann.dev">
    thomashartmann.dev
  </a>
</div>
